body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: black;
    text-align: center;

}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 16px;
}
.header a {
    text-decoration: none;
    color: black;
}
.main-text {
    font-size: 28px;
    margin: 100px 0;
}

.grid{
    display: flex;
    flex-direction: row;
}

.grid img {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 600px;
    margin: 20px;
}