* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5e9;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.btn {
  padding: 8px 18px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.hero {
  padding: 100px 20px;
}

.small-text {
  font-size: 12px;
  background-color: #f1f1d4;
  display: inline-block;
  padding: 6px 15px;
  border-radius: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 45px;
  line-height: 1.3;
  margin-bottom: 20px;
  font-weight: bold;
}

.sub-text {
  font-size: 16px;
  color: #555;
}

.half-circle {
  margin-top: 80px;
  width: 100%;
  height: 250px;
  background-color: #033b2b;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grow-btn {
  padding: 10px 25px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
