img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 24, 24);
    margin: 200px;

}

p{
    font-size: larger;
    color: rgb(119, 191, 10);
}

.bigdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 35, 35);
    padding: 50px;
    border-radius: 10px;
}

button{
    font-size: larger;
    border: black solid 1px;
    transform: scale(1.2);
    background-color: rgba(99, 99, 99, 0.241);
    padding: 5px;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
    border-radius: 5px;
}


button:hover{
    background-color: rgb(102, 99, 99);;
    transform: scale(1.15);
}

.p{
    color: rgb(150, 156, 160);
}

h1{
    color: aliceblue;
}