#goa {
    color: rgb(240, 255, 0);
}

#group39 {
     color: rgb(0, 0, 0);
}

#nino {
    color: rgb(150, 0, 255);
}

#idk {
    color:rgb(100, 45, 0);
}





#goa1 {
    width: 10%;
    height: 10%;
}

#goa2 {
    width: 20%;
    height: 20%;
}

#goa3 {
    width: 30%;
    height: 30%;
}

#goa4 {
    width: 40%;
    height: 40%;
}

#goa5 {
    width: 50%;
    height: 50%;
}