* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f5f7;
  color: #000;
}

.navbar {
  background: #0a0b0d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.nav-left .logo {
  background: #f4d10b;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  padding: 7px 9px;
  border-radius: 6px;
}

.nav-links {
  display: flex;
  gap: 24px;
  align-items: center;
}

.nav-links a,
.dropbtn {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.nav-links a:hover{
    color: #a100ff;
}

.nav-right .download-btn {
  background: #f4d10b;
  color: #000;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}

.nav-right .download-btn:hover {
  background: #e5c20a;
}

.hero {
  text-align: center;
  padding: 64px 16px;
}

.brand-title {
  font-family: 'Times New Roman', serif;
  font-weight: 800;
  font-size: 100px;
  margin-bottom: 16px;
}

.hero-heading {
  font-size: 24px;
  max-width: 700px;
  margin: 0 auto 32px;
}

.hero-download {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 14px 15px;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}

.hero-download:hover {
  background: #333;
}

.card-preview {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.card-preview img {
  max-width: 350px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.15);
}
